module Dashboard::DashboardApi
  class <%= controller_class_name %> < ApiController 
    before_action :set_<%= singular_name %>, except: [:create, :new, :index]
    def index
      @<%= plural_name %> = <%= model_name %>.all
    end

    def show
    end

    def create
      @<%= singular_name %> = <%= model_name %>.new(<%= singular_name %>_params)

      if @<%= singular_name %>.save
<% attachable_galleries.each do |gallery| -%>
        @<%= singular_name %>.<%= gallery %>.attach blobs if blobs.present?
<% end -%>
        head :created
      else
        render json: @<%= singular_name %>, status: :unprocessable_entity
      end
    end

    def update
      if @<%= singular_name %>.update(<%= singular_name %>_params)
<% attachable_galleries.each do |gallery| -%>
        @<%= singular_name %>.<%= gallery %>.attach blobs if blobs.present?
<% end -%>
        head :ok
      else
        render json: @<%= singular_name %>, status: :unprocessable_entity
      end
    end

    def destroy
      if @<%= singular_name %>.destroy
        head :ok
      else
        head :no_content
      end
    end

    private

    def set_<%= singular_name %>
      @<%= singular_name %> = <%= setter_to_show[:finder] %>
    rescue ActiveRecord::RecordNotFound
      render json: 'Data not found!', status: :not_found
    else
      objectize(@<%= singular_name %>)
    end

    def <%= singular_name %>_params 
      params.require(:<%= singular_name %>).permit(<%= params_to_permit %>)
    end
  end
end
