= dashboard_form(<%= singular_name %>, url: url, html: {multipart: true}) do |f|
  %article.content.dashboard-appointment#program-form
    .title-search-block
      .title-block
        .row
          .col-md-6
            %h3.title <%= singular_name.titleize %>
    .card.card-block
<% input_forms.each_with_index do |input, index| -%>
      = f.form_block do
        = f.label :<%= input[:lable] %>
        = f.<%= input[:input] %> :<%= input[:name] %>

<% if (index + 1) % 4 == 0 -%>
    .card.card-block
<% end -%>
<% end %>
      = f.submit
